body {
  font-family: 'Helvetica', Arial, sans-serif;
}
footer {
  padding-top: 15px;
}

footer > a {
  color: #000000;
  font-size: 1.6em;
}

footer > a:hover {
  color: #000000;
}

footer [class^="icon-fontello-"] {
  padding-right: 16px;
}

#map_canvas {
  height: 600px;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
  margin: 0 auto 10px;
}

/* http://www.eichefam.net/?p=4395 */
[id^="js-menu-"] {
  max-height: 350px;  
  overflow: hidden;
  overflow-y: auto;
}

#js-sidenav {
  background-color: #e8e8e8;
}

#js-sidenav-inner {
  max-height: 574px;  
  overflow: hidden;
  overflow-y: auto;
}

#js-sidenav-inner a {
  cursor: pointer;
}

#js-sidenav-inner > li {
  border-bottom: 1px solid #f7f7f7;
  padding-top: 5px;
  padding-bottom: 5px;
}