/*
 * Anteater Network v12.2
 * http://git.io/antnet
 *
 * Copyright 2013 JMMP
 */

body {
  background-color: #fefefe;
  font-family: 'Helvetica', Arial, sans-serif;
}

a {
  cursor: pointer;
}

footer {
  padding-top: 15px;
}

footer > a {
  color: #000000;
  font-size: 1.6em;
}

footer > a:hover {
  color: #000000;
}

footer [class^="icon-fontello-"] {
  padding-right: 16px;
}

img {
  max-width: none;
}

[id^="js-menu-"] {
  max-height: 350px;  
  overflow: hidden;
  overflow-y: auto;
}

#js-loading-overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

#js-loading-bar {
  position: relative;
  width: 40%;
  top: 40%;
  left: 30%;
}

#js-map {
  height: 600px;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

#js-results {
  margin-left: 0px;
}

#js-results-list {
  background-color: #e8e8e8;
  height: 600px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#js-results-inner {
  max-height: 574px;
  overflow: hidden;
  overflow-y: auto;
}

#js-results-inner > li {
  border-bottom: 1px solid #f7f7f7;
  padding-top: 5px;
  padding-bottom: 5px;
}

#js-results-show {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); 
  -o-transform: rotate(90deg);
  background-color: rgba(255, 255, 255, 0.8);
  margin: 27px 10px;
}

#js-results-show > a {
  text-decoration: none;
}

.infoWindow-heading {
  /*background-color: #e8e8e8;*/
  text-transform: uppercase;
  padding: 10px 5px;
  text-align: center;
  
}

.infoWindow-body {
	text-align: center;
	background-color: #e8e8e8;
	border-radius: 4px;
}

.nav {
  margin-bottom: 0px;
}

.row-fluid {
  margin-top: 9px;
  margin-bottom: 10px;
}

[class^="span"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tooltip-inner {
  background-color: rgba(0, 0, 0, 0.85);
}