/*
 + Anteater Network v15.0
 + Copyright 2013 JMMP and UCI Alumni Association
 + http://alumni.uci.edu/anteater-network
 */

.brand {
  padding-top: 15px;
  padding-bottom: 14px;
}

.btn-large > img {
  width: 35px;
  margin-top: -3px;
  padding-right: 2px;
}

.contact > a {
  text-decoration: none;
}