/*
 + Anteater Network v15.0
 + Copyright 2013 JMMP and UCI Alumni Association
 + http://alumni.uci.edu/anteater-network
 */

.brand {
  padding-top: 15px;
  padding-bottom: 14px;
}

.brand > img {
  width: 42px;
  padding-right: 5px;
}