/******************************************
  GLOBAL HTML STYLES
  Governs base X/HTML elements
  
  LAYOUT STYLES
  Container, Side Menu, Content/Main, Sidebar, Footer
 *************************re*****************/
 
/******************************give************
  GLOBAL HTML  STYLES
  Governs base X/HTML elements
 ******************************************/
 /* Set everything's font size to the size of its parent.
   Remove all margins & borders and redefine them later */
   
* {
  font-size: 100%;
  border: 0;
}

/* using individual reset - excluding the img tag - to enable vspace/hspace in editor */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
margin:0px; 
padding:0px; 
} 



body {
  font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
  /* color: #EFEFEF; */
  font-size: 80%;
  background-color: #000033; /* #002244; */
  text-align: center;
  min-width: 100px;
}

a { 
  text-decoration: none;
  color: #30608F;
}

a:link, a:visited {
  color: #30608F;
}

p a:link, p a:visited {
  color: #30608F; /* #2266BB; */
}

a:hover, a:active {
  color: #30608F;
  text-decoration: underline;
}

a:hover img { 
  opacity: .75;
  filter:alpha(opacity=75);
}

a:hover object {
  opacity: .75;
  filter:alpha(opacity=75);
}

h1, h2, h3, h4, h5 {
font-size: 100%;

}

h1, h2 { color: #003366;}

h3 { 
	/*font-size: 95%;*/
	color:#333333;
}

h4, h5 { 
	font-size: 90%;
	color:#666666;
	}

hr {

  width: 100%;
  height: 1px;
  color: #CCCCCC;		/* for ie */
  background-color: #CCCCCC;	/* for ff */
}

.clear {
  clear: both;
}

/* correct for ie6 png transparency issue */
img {
  behavior: url(../scripts/iepngfix.htc);
} 

img.transparencyINDEX {
  behavior: url(scripts/iepngfixINDEX.htc);
} 

input.button { 
  padding: .25em;
  border: 1px outset;
}

input.text {
  padding: .25em;
}

p {}

textarea { 
  font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
  padding: .25em;
}

ul, ol {}

li {}


.listNoBullet ul {
  list-style: none;
  margin-left: 0;
}
 
/******************************************
  LAYOUT STYLES
  Container, Side Menu, Content/Main, Sidebar, Footer
 ******************************************/ 
 /******************************************
  CONTAINER STYLES
 ******************************************/

div.base {
  clear: both;
  height: 0;
}

div.pageContainer {
  text-align: left;
  width: 960px; /* column1 + column2wide + 16px margin */
  margin: 10px auto;
}

/* main UCI styles end */

/* ... containerSidebarColorIndex ............................................................................. */

#containerSidebarColorIndex {
	text-align: left;
	width: 960px;
	background-color:#FFF; /* WHITE for index */
	min-height:500px;
	height:auto!important;
	height:500px; 
}

/* ... containerSidebarColor ............................................................................. */

#containerSidebarColor {	
	text-align: left;
	width: 960px;
	background-color:#000033;/* BLUE for sub-page */
	min-height:500px;
	height:auto!important;
	height:500px; 
}

/* ... containerMenuContentColor ............................................................................. */

#containerMenuContentColor {
  text-align: left;
  float: left;
  width: 710px; /* ONE PX SMALLER */
  color: #000000;
  background-color: #FFF;
  min-height: 500px;
  height: auto !important;
  height: 500px;

}


/******************************************
  MENU STYLES
 ******************************************/

/* ................................................................................ */
/* menu -  is the main navigation container */
/* ................................................................................ */

#menu{
	float: left;
	width: 170px;
}

/* ................................................................................ */
/* menuLogin is the TOP link (red) on the left navigation */
/* ................................................................................ */

#menuLogin { /* 155px width  + 15px padding = 170px total width */
  width: 155px; 
  padding-left:15px;
  margin-top:5px;
  font-weight:bold;
}

#menuLogin a, #menuLogin a:link, #menuLogin a:visited
{
  color: #CC0000; /* Red */
  font-weight:normal;
}


#menuLogin a:hover
{
  text-decoration:underline;
}

/* ................................................................................ */
/* menuSections is the SECOND link set for site section menu                        */
/* ................................................................................ */

/* LEFT NAVIGATION Grey-Style with ZOT rollover */


/* ...menuSections................................................................. */
#menuSections {
margin-top: 10px;
}

#menuSections ul{
  list-style-type: none; /*turns off display of bullet*/
  margin-left:0px;
  font-size:110%;
}

/* ...menuSections-MAIN-catagory.................................................. */

#menuSections-MAIN-catagory ul{;
		padding: 2px 0px 2px 15px;
   }

#menuSections-MAIN-catagory li{
	display: inline; /* this gets rid of the gaps in IE5/6*/
   }
   
#menuSections-MAIN-catagory li a {
	display: block; /* whole row is linked */
	/* border-top: solid 1px #E8E8E8;  */ /* top when "login" menu enabled */
	border-bottom: solid 1px #E8E8E8; 
	padding: 2px 0px 2px 15px;
	background-image:none;
	color:#000033;
}

#menuSections-MAIN-catagory li a:link, #menuSections-MAIN-catagory li a:visited{
	/* use default LEFT COLUMN link color */
	background-image:none;
}

#menuSections-MAIN-catagory li a:hover {
	text-decoration:none;
	background-image:url(../images/ZOTtextMany.png);
}
/*****/   
   
.left-nav-current1, .left-nav-folder1, .left-nav-not-current1{
	display: inline; /* this gets rid of the gaps in IE5/6*/
   }
   
.left-nav-current1 a, .left-nav-folder1 a, .left-nav-not-current1 a {
	display: block; /* whole row is linked */
	border-bottom: solid 1px #E8E8E8; 
	padding: 2px 0px 2px 15px;
	background-image:none;
	color:#000033;
}


.left-nav-current1 a:link, .left-nav-current1 a:visited, .left-nav-folder1 a:link, .left-nav-folder1 a:visited, .left-nav-not-current1 a:link, .left-nav-not-current1 a:visited{
	/* use default LEFT COLUMN link color */
	background-image:none;
}

.left-nav-current1 a:hover, .left-nav-folder1 a:hover, .left-nav-not-current1 a:hover {
	text-decoration:none;
	background-image:url(../images/ZOTtextMany.png);
}


/* ...menuSections-SELECTED-catagory.................................................... */

#menuSections-SELECTED-catagory{
	font-weight:bold;
	color:#032F5E;
	padding: 2px 0px 2px 15px;
}

.menuSections-SELECTED-catagory{
	font-weight:bold;
	color:#032F5E;
	padding: 2px 0px 2px 15px;
}

/* ...menuSections-SUB-catagory......................................................... */

#menuSections-SUB-catagory li{
	border:none;
	/*display:inline;*/
}

#menuSections-SUB-catagory li a, #menuSections-SUB-catagory li a:visited{
	font-weight:normal;
	font-size:85%;
	border-top:none;
}

#menuSections-SUB-catagory li a:hover{
	background-image:none;
	text-decoration:underline;
}

/***/
.left-nav-folder2, .left-nav-not-current2, .left-nav-current2{
	border:none;
	display:inline;
}

.left-nav-folder2 a.menuSections-SELECTED-catagory{
	font-size:85%;
	border-top:none;
	padding-left:25px;
	font-weight:bold;
}

.left-nav-folder2 a,.left-nav-folder2 a:visited, .left-nav-not-current2 a, .left-nav-not-current2 a:visited, .left-nav-current2 a, .left-nav-current2 a:visited{
	font-weight:normal;
	font-size:85%;
	border-top:none;
	padding-left:25px;
}

.left-nav-folder2  a:hover, .left-nav-not-current2 a:hover, .left-nav-current2 a:hover{
	background-image:none;
	text-decoration:underline;
}

/***/
.left-nav-not-current3, .left-nav-current3, .left-nav-not-current4, .left-nav-current4{
	border:none;
	display:inline;
}

.left-nav-not-current3 a, .left-nav-not-current3 a:visited, .left-nav-current3 a, .left-nav-current3 a:visited, .left-nav-not-current4 a, .left-nav-not-current4 a:visited, .left-nav-current4 a, .left-nav-current4 a:visited{
	font-weight:normal;
	font-size:75%;
	border-top:none;
	padding-left:35px;
	color:#666;
	
	
}

.left-nav-not-current3 a:hover, .left-nav-current3 a:hover, .left-nav-not-current4 a:hover, .left-nav-current4 a:hover{
	background-image:none;
	text-decoration:underline;
}


/* ................................................................................ */
/* menuGroups is the THIRD link set for pages grouped by Alumni constituent group */
/* ................................................................................ */


#menuGroups { 
	margin-top:15px;
}

#menuGroups ul
{
	margin-left: 10px;
	padding-left: 0;
	list-style-type: none;
}

#menuGroups li
{
	display:inline;
}

#menuGroups li a
{
	display: block;
	padding: 3px 2px 3px 5px;
	background-color: #C2D7EB;
	border-bottom: 2px solid #fff;
	
}

#menuGroups li a:link, #menuGroups-navlist li a:visited
{
	color: #032F5E;
	text-decoration: none;
}

#menuGroups li a:hover
{
	background-color: #cccccc;
}


/* ................................................................................ */
/* menuPrivacyRights is the BOTTOM link (navy/privacy rights) on the left navigation */
/* ................................................................................ */


#menuPrivacyRights { /* 155px width  + 15px padding = 170px total width */
  width: 155px;
  margin-top:10px; 
  margin-bottom:5px;
  padding-left:15px;
  font-size:90%;
}

#menuPrivacyRights a{
color:#032F5E;
}

 /******************************************
  CONTENT/MAIN STYLES
 ******************************************/
/* ... content ............................................................................. */
#content{
	float: left;
	width: 500px;
	margin: 0px 0px 10px 20px; /* Margin on right only for IE6 */
}




/* ... contentFlash ......................................................................... */
#contentFlash{
	margin: 0px 0px 10px 0px; /* NO top margin for INDEX gallery */
	background-color:#CCCCCC;
	height:375px;
	text-align:center;
}

/* ... contentFlashGallery ......................................................................... */
#contentFlashGallery{
	margin-top: 10px 0px 0px 0px; /* Gallery has top-margin */
	background-color:#CCCCCC;
	height:555px;
        /*width:960px;*/
	text-align:center;
}
#contentFlashGallery object{ 
        display: block; 
        margin-left: auto; 
        margin-right: auto;
}

/* ... contentSingleCol ......................................................................... */
#contentSingleCol{
	margin-top: 10px 0px 0px 0px; /* Gallery has top-margin */
	background-color:#fff;
	height:555px;
        /*width:960px;*/
	text-align:center;
}

#contentSingleCol ol{ margin-left: 5px; padding-left: 15px;}
#contentSingleCol ul{ margin-left: 5px; padding-left: 15px;}
#contentSingleCol li{ margin-left: 5px; padding-left: 15px;}


/* ... contentPhoto ......................................................................... */
#contentPhoto {
	margin: 15px 0px; /* NO top margin for INDEX gallery */
	background-color:#FFF;
	text-align:center;
}

/* ... contentMap ......................................................................... */
#contentMap {
	height:	375px;
	width:500px;
	margin: 15px 0px; /* NO top margin for INDEX gallery */
	background-color:#FFF;
	background-color:#336699;
	text-align:center;
}
/* ... contentMaintenance ......................................................................... */
#contentMaintenance{
	margin: 0px 0px 10px 0px; /* NO top margin for INDEX gallery */
	padding: 15px;
	background-color:#fff;
	height:300px;
	width: 880px;
	border: 1px solid #cccccc;
}


/* ... contentMain ........................................... */

#contentMain {

}

#contentMain p{
margin-bottom: 10px;
}



#contentMain ol, #contentMain ul{
/*  list-style-type: none; /*turns off display of bullet*/
  padding-left:20px;
}
#contentMain li{
  padding-bottom:5px;
}


#contentMain h3 {
	font-size: 110%;
	color: #666;/* #003399;*/
	border-bottom:solid 1px #CCCCCC;
	padding-bottom: 1px;
	margin-bottom: 4px;
}


#contentMainHighlightP {
	background-color:#E8EFF9;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 10px; 


}

#contentMainH2 {
	font-size: 120%;
	color: #003366;/* #003399;*/
	border-bottom:solid 1px #CCCCCC;
	padding-bottom: 1px;
	margin-bottom: 4px;
}

.contentMainHighlightP {
	background-color:#E8EFF9;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 10px; 

}

.contentMainHighlightDivRight {
	
	 margin:2px; 
	 padding:2px;
	 border:#CCC 1px solid; 
	 background-color: #E8EFF9;
	  float:right;
	 }


.contentMainH3 {
	font-size: 110%;
	color: #000;/* #003399;*/
	border-bottom:solid 1px #CCCCCC;
	padding-bottom: 1px;
	margin-bottom: 4px;
}

.contentMainH3Story {
	font-size: 110%;
	color: #000;/* #003399;*/
	padding-bottom: 1px;
	margin-bottom: 4px;
}


.login, .login:visited, .login:link{

font-weight:bold;
background-color:#6699cc;
color:#FFF;
border:solid 1px #666666;
padding: 2px 4px;
}

.login:hover {
background-color:#C2D7EB;
text-decoration:none;}



/* ... contentAlumniFeature - multiple so classes not ID ..................................... */

.contentAlumniFeature {
	padding:0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	width:500px;
	border-bottom: solid 1px #CCCCCC;
	background-color:#E8EFF9; 
	min-height:70px;
	/*height:70px; */
}

.contentAlumniFeature h2 a{
	margin: 0;
	padding: 1px 0px 2px 0px;
	text-decoration:underline;
}

.contentAlumniFeature img{
float:left;
border: none;
margin: 0px 10px 0px 0px;
padding: 0;
}
.contentAlumniFeature dd{
margin:0px 2px 0px 0px;
}

/*... contentItem...........................*/

.contentItem {
clear: both;
  width: 485px;
  border: 1px solid #CCCCCC;
 /* background-color:#F7F7F7; */
background-image:url(../images/alumni-gradient-blue.jpg);
background-repeat:repeat-x;
  color:#000000;
  padding: 5px;
  margin: 15px 0px 0px 0px;
}

.contentItemText h2, .contentEventText h3 {
  padding: 0;
 font-size: 16px;
}

.contentItemText {
   float:left;
   width:355px;
}

.contentItemThumb {
/*  float: left;*/
  margin-right: 16px;
/*  margin-top: 5px;*/
}
/*
.contentItem img{
float:left;

} */




/*... contentFeature...........................*/

.contentFeature{
clear: both;
  width: 485px;
  border: 1px solid #CCCCCC;
 /* background-color:#F7F7F7; */
background-image:url(../images/alumni-gradient-blue.jpg);
background-repeat:repeat-x;
  color:#000000;
  padding: 5px;
  margin: 13px 0px 2px 0px;
}

.contentFeatureText h2, .contentFeatureText h3 {
  padding: 0;
  font-size:16px;
}

.contentFeatureText {
   float:right;
   width:365px;
}

.contentFeatureBold {
font-weight:bold;
}

.contentFeatureThumb {
  float: left;
  margin-right: 16px;
 margin-top: 5px;
}



/*... contentGallery ...........................*/

.contentGallery {
clear: both;
  width: 485px;
  border: 1px solid #CCCCCC;
 /* background-color:#F7F7F7; */
background-image:url(../images/alumni-gradient-blue.jpg);
background-repeat:repeat-x;
  color:#000000;
  padding: 5px;
  margin: 15px 0px 0px 0px;
}

.contentGalleryText h2, .contentGalleryText h3 {
  padding: 0;
 font-size: 16px;
}

.contentGalleryText {
   float:left;
   width:315px;
}

.contentGalleryThumb {
  float: left;
  margin-right: 16px;
  margin-top: 5px;
}

/*... contentEvent ...........................*/

.contentEvent {
clear: both;
  width: 485px;
  border: 1px solid #CCCCCC;
 /* background-color:#F7F7F7; */
background-image:url(../images/alumni-gradient-blue.jpg);
background-repeat:repeat-x;
  color:#000000;
  padding: 5px;
  margin: 15px 0px 0px 0px;
}

.contentEventText h2, .contentEventText h3 {
  padding: 0;
 font-size: 16px;
}

.contentEventText {
   float:left;
   width:355px;
}

.contentEventThumb {
  float: left;
  margin-right: 16px;
  margin-top: 5px;
}

.contentEvent img{
float:left;

} 

/*... clear ........ */

.clear {
  clear: both;
}

/*... contentRSS ...........................*/
 .contentRSS{
clear: both;
  width: 485px;
  border: 1px solid #CCCCCC;
 /* background-color:#F7F7F7; */
background-image:url(../images/alumni-gradient-blue.jpg);
background-repeat:repeat-x;
  color:#000000;
  padding: 5px;
  margin: 15px 0px 0px 0px;
}

.contentRSS h2, .contentRSS h3 {
  padding: 0;
 font-size: 16px;
}

.contentRSSpubDate {
	font-size:10px;
	color:#999;
	margin:0;

}

.contentRSSmore {
  margin-top: 10px;
}

/*... colors ........ */
.contentRed
{
  color: #CC0000; /* Red */
  font-weight:normal;
}

/*... Dreamweaver Stlyes ...*/
/*... for div-toggle effect ...*/
#descEW, #descEW1, #descEW2, #descEW3 {
	display:none;
}


 /******************************************
  SIDEBAR STYLES
 ******************************************/
 /* ... sidebar ............................................................................. */

#sidebar{
	margin:0;
	padding:0;
	float: right;
	width: 250px;
}

#sidebar a { 
 color: #6699cc; /* yellow #FFDC5F, powder blue #C2D7EB */ 
  }

/* sidebarFeature - styles for advert or feature */
#sidebarFeature{
	/*width: 230px;/* smaller because of padding */
	margin: 0px 0px 10px 0px;
	padding: 0px 9px 10px 10px; /* RT pad 1px smaller to account for LT border */
	border-left:solid #CCCCCC 1px;
	border-bottom:solid #CCCCCC 1px;
	/*font-size:90%;*/
	color:#666666;
}


.sidebarFeatureHeader {
	margin: 0;
	padding: 5px 0px 0px 0px;
}

.sidebarFeatureHeader h2 {
	color:#000033;
	font-weight:bold;
}


.sidebarFeatureHeader a, .sidebarFeatureHeader a:link, .sidebarFeatureHeader a:active, .sidebarFeatureHeader a:visited{
	color: #07519A;
	text-decoration:none;
}

.sidebarFeatureHeader a:hover{
	text-decoration:underline;
}

.sidebarFeatureItem {
    margin: 0;
    padding: 5px 0px 0px 0px;
	line-height: 125%;
}

.sidebarFeatureItem img {
    float: right;
    padding: 0px 10px 5px 1px;
    border: none;
}

.sidebarFeatureLink {
	margin: 10px 0px 0px 0px;
}

.sidebarFeatureLink a,
.sidebarFeatureLink a:visited {
    color: #07519A;/* #1e6a95; */
    text-decoration: none;
}
.sidebarFeatureLink a:hover {
    color: #000000;
	text-decoration:underline;
}
/* ... sidebarLinks ............................................................................. */

#sidebarLinks{
	margin: 0px 0px 20px 0px;
	width:250px;
	background-color:#C2D7EB;
}

#sidebarLinks h2, #sidebarEvents h2, #sidebarFindUs h2 {
	display:block;
	background-color:#000033;
	color:#FFF; /* #FFDC5F gold */
	margin: 0;
	padding:2px 2px 2px 10px;
	/*font-size:90%;*/
	text-transform:uppercase;
}

#sidebarLinks ul{
	list-style-type: none;
	margin: 0;
	padding:2px 2px 2px 10px;
}
#sidebarLinks li{
	margin: 0;
	padding:1px 0px 2px 0px;
}
#sidebarLinks a {}

#sidebarLinks a:link, #sidebarLinks a:visited{
	color:#000033;
	text-decoration:none;
}

#sidebarLinks a:hover{
	text-decoration:underline;
}

/* ... sidebarEvents ............................................................................. */

#sidebarEvents{
	margin: 0px 0px 10px 0px;
	width:250px;
	background-color:#FFFFFF;
}

#sidebarEvents ul{
	list-style-type: none;
	margin:0;
	padding:0px 0px 5px 0px;
}

#sidebarEvents li {
	color:#666666;
	font-size:95%;
	line-height: 115%;
	padding: 1px 10px 2px 0px;

}

/* ... sidebarFindUs ............................................................................. */

#sidebarFindUs{
	margin: 0px 0px 10px 0px;
	width:250px;
	background-color:#FFFFFF;
}

#sidebarFindUs ul{
	list-style-type: none;
	margin:0;
	padding:0px 0px 5px 0px;
}

#sidebarFindUs li {
	color:#666666;
	font-size:95%;
	line-height: 115%;
	padding: 1px 10px 2px 0px;

}

/* ... sidebarTitle -orignal name... edited for CMS block....................................................... */

#sidebarTitle{
	margin: 2px 15px 15px 15px;
	color: #cccccc;
}

#sidebarSectionTitle{
	margin: 2px 15px 0px 15px;
	color: #cccccc;
}
#sidebarPageTitle{
	margin: 2px 15px 15px 15px;
}	

#sidebarPageTitle h1{
	margin:0px;
	font-weight:normal;
	color: #F8DD73; /* #FFDC5F;*/
	font-size:160%;
}
#sidebarSectionTitle h3{
	color: #cccccc;
	margin:0px;
	font-weight:normal;
	font-size:90%;
}

#sidebarSectionTitle h3 a, #sidebarSectionTitle h3 a:link, #sidebarSectionTitle h3 a:visited{
	color: #cccccc;
	text-decoration:none;
}
#sidebarSectionTitle h3 a:hover{
	text-decoration:underline;
}



/* ... sidebarContent ............................................................................. */
#sidebarContent{
	margin: 15px;
	color: #FFF;
}

#sidebarContent h2{
	font-size:110%;
	margin-bottom: 5px;
	color:#FFFFFF;
}

#sidebarContent h3, #sidebarContent h4{
	font-size:100%;
	color:#FFFFFF;
}


#sidebarContent p {
	margin-bottom: 10px;
}

#sidebarContent ul {
	list-style-type: none; 
	margin:0;
}

/*******************************
GALLERY STYLES
*******************************/

#galleryPageTitle h1{
	margin:0px;
	font-weight:normal;
	color: #F8DD73; /* #FFDC5F;*/
	font-size:160%;
        float: right;
}
 /******************************************
  MAKE A GIFT BUTTON STYLES
 ******************************************/

#makeGift
{
  display: block;
  width: 100px;
  height: 52px;
  background: url("../images/newkirk-alumni-center/make-a-gift-100x104.gif") no-repeat 0 0;

}

#makeGift:hover
{ 
  background-position: 0 -52px;
}

#makeGift span
{
  position: absolute;
  top: -999em;
}



 /******************************************
  FOOTER STYLES
 ******************************************/

/***** FOOTER *****/

#footer {
  text-align: center;
  margin: 5px 0px 0px 0px;
  border-top:#FFF solid 1px;
  color:#fff;
}
#footer p{
	margin-top: 10px;
}
#footer a, #footer a:visited, #footer a:hover, #footer a:link  {
	color: #FFF;
}